.heroWrapper {
	width: 100%;
	margin-top: 50px;
	background-image: url("../../assets/handstand.gif");
	height: 400px;
	background-position: bottom;
	background-size: contain;
	background-repeat: repeat-x;
	position: relative;
}

@media screen and (max-width: 970px) {
	.heroWrapper {
		background-size: cover;
	}
}
