.heroWrapper {
	width: 100%;
	margin-top: var(--size-xl);
	background-image: url("../../assets/images/handstand.gif");
	min-height: 400px;
	background-position: bottom;
	background-size: contain;
	background-repeat: repeat-x;
	position: relative;
}

@media screen and (max-width: 750px) {
	.heroWrapper {
		margin-top: 142px;
	}
}

@media screen and (max-width: 970px) {
	.heroWrapper {
		background-size: cover;
		min-height: 300px;
	}
}
