@import "./variables.css";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--color-black);
	--color-accent-1: var(--color-bright-yellow);
	--color-accent-2: var(--color-tangerine);
	--color-accent-3: var(--color-orange);
	--color-accent-4: var(--color-dark-orange);
	--color-accent-5: var(--color-brick);
	--color-accent-6: var(--color-pale-yellow);
	--color-accent-7: var(--color-pale-orange);
	background: var(--color-accent-2);
}

body[data-theme="spring"] {
	--color-accent-1: var(--color-sage);
	--color-accent-2: var(--color-pale-pink);
	--color-accent-3: var(--color-sunset);
	--color-accent-4: var(--color-cantaloupe);
	--color-accent-5: var(--color-pastel-yellow);
	--color-accent-6: var(--color-pale-lilac);
	--color-accent-7: var(--color-pale-lilac);
	background: var(--color-accent-2);
}

a {
	text-decoration: none;
	color: inherit;
}

p:not(:last-child) {
	padding-bottom: 22px;
}

ul {
	margin-left: var(--size-m);
}
